/* custom styles can go here */

@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);

.shade-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.shade-light {
    background-color: rgba(255, 255, 255, 0.75);
}

h1.shadowed{
    text-shadow: 5px 5px #BBB;
}

h1.comic {
    font-family: Bangers, sans-serif;
    font-weight: normal;
    letter-spacing: 3px;
}

h1.hand-lettered {
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
}

h1.red, h2.red, h3.red, h4.red, p.red {
    color: rgb(210, 58, 56) !important;
}

h1.big {
    font-size: 5.5em;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal {
    overflow-y: hidden;
    overflow-x: hidden;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 1280px;
  min-height: 720px;
  z-index: -100;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
